.toasterContainer {
  padding-left: 10px;
  align-items: center;
  background-color: rgba(16, 231, 56, 0.12);
  color: black;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  height: 3rem;
  width: 30%;
  border-color: #0ed963;
  border-radius: 5px;
}
.toasterButton {
  border-radius: inherit;
  border-color: blue;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.toasterButton:focus {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
