.toasterContainer {
  padding-left: 10px;
  align-items: center;
  color: black;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  height: 3rem;
  width: 30%;
  border-radius: 5px;
}
.toasterButton {
  border-color: blue;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.toasterButton:focus {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.toasterContainer .errorToast{
  background-color: rgba(231, 16, 16, 0.09);
  border: solid 3px #E2391B;
}
.toasterContainer .alertToast{
  background-color: rgba(126, 116, 116, 0.04);
  border: solid 3px #262323;
}
.toasterContainer .successToast{
  background-color: rgba(16, 231, 56, 0.12);
  border: solid 3px #0ed963;
}